<div class="welcome-block" ng-init="displayCurrentDirections()">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar.svg"></img>
        </div>
      </div>
    </div>
    <div class='col span_3_of_12'>
      <div class="logout_button">
        <div class="logout_container">
          <h6 class="logout">LOGOUT</h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <div class="directions_wrapper">
        <div class="directions">
        </div>
      </div>
      <div class="map_display_canvas">
        <google-map center="currentCenter()" zoom="map.zoom" options="mapOptions">
          <marker idKey='1'
        coords='markerCoords(1)'></marker>
          <marker idKey='2'
        coords='markerCoords(2)'></marker>
        </google-map>
      </div>
      <div class="buttons_wrapper">
        <button ng-click="step('prev')" class="previous">PREV</button>
        <button ng-click="step('next')"class="next">NEXT</button>
      </div>
      <!-- <button class="matrix">matrix</button> -->
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>

