<!-- You've Arrived Page -->

<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture">
<!--         <i class="fa fa-sun-o fa-5x fa-spin">
        </i> -->
        <i class="fa fa-user fa-4x">
        </i>
      <div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
        <h2 class="arrival_text">YOU'VE
        </h2>
        <h2 class="arrival_text">ARRIVED
        </h2>
        <h2 class="destination_text destination_name">
        </h2>
            <div class="ampersand_wrapper">
              <div class="ampersand_col">
                <i class="fa fa-star-o fa-fw star-left">
                </i>
                <i class="fa fa-star-o fa-fw star-left">
                </i>
                <i class="fa fa-star-o fa-fw star-left">
                </i>
              </div>
              <div class="ampersand_col">
                <h2 class="arrived_ampersand_top">&</h2>
                <h2 class="arrived_ampersand">&</h2>
              </div>
              <div class="ampersand_col">
                <i class="fa fa-star-o fa-fw star-right">
                </i>
                <i class="fa fa-star-o fa-fw star-right">
                </i>
                <i class="fa fa-star-o fa-fw star-right">
                </i>
              </div>
            </div>
      <div class="ribbon_wrapper">
        <h1 class="ribbon">
          <strong class="ribbon-content">you've earned a gem!
          </strong>
        </h1>
      </div>
      <div class="arrival_gem_wrapper_outer">
        <div class="arrival_gem_wrapper">
          <div class="arrival_gem_wrapper_inner">
            <div id="diamond">
              <div id="top">
                <div class="faceup left"></div>
              <div class="face"></div>
                <div class="faceup"></div>
              <div class="face"></div>
                <div class="faceup right"></div>
              </div>
              <div id="bottom">
                <div class="facedown left2"></div>
                <div class="facedown"></div>
                <div class="facedown right2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>
