<!-- ADVENTURE SCREEN -->

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>

    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar_7_export.svg"></img>
        </div>
      </div>
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form class="location_form">
        <h3 class="location_text where">
          <i class="fa fa-map-marker">
          </i>where are you?
        </h3>
        <input type="checkbox" value="current_location" name="current_location" id="current_location"/>
        <label for="current_location"
          <span class="current_location">
            <i class="fa fa-crosshairs">
            </i>CURRENT
          </span>
        </label>
        <h3 class="location_text">or
        </h3>
        <input class="location" name="location" type="text" placeholder='ENTER LOCATION'/>
        <h3 class="location_text adventure_type">
          <i class="fa fa-star-o">
          </i>adventure type?
        </h3>
          <input type="radio" id="adventure_food" value="food" name="adventure"/>
            <label for="adventure_food"
            <span class="adventure">
              <i class="fa fa-spoon">
              </i>FOOD
            </span>
            </label>
              <input type="radio" id="adventure_drink" value="drink" name="adventure"/>
              <label for="adventure_drink"
              <span class="adventure">
                <i class="fa fa-glass">
                </i>DRINK
              </span>
            </label>
          <input type="radio" id="adventure_event" value="event" name="adventure"/>
          <label for="adventure_event"
            <span class="adventure">
              <i class="fa fa-rocket">
              </i>EVENT
            </span>
          </label>
        <h3 class="location_text time_text">
          <i class="fa fa-clock-o">
          </i>length of time?
        </h3>
        <input class="location" name="time" type="text" placeholder='00:00'/>
        <input class='location_button' name="submit" type="submit" value="GO"/>
      </form>
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>

<!-- Directions Page -->

<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar_7_export.svg"></img>
        </div>
      </div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <div class="directions_wrapper">
        <div class="directions">
        </div>
      </div>
      <div class="map_display_canvas">
      </div>
      <div class="buttons_wrapper">
        <button class="previous">PREV</button>
        <button class="next">NEXT</button>
      </div>
      <!-- <button class="matrix">matrix</button> -->
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>


<!-- Profile Page -->

<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar_7_export.svg"></img>
        </div>
      </div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <div class="profile_gems_wrapper">
        <div class="profile_gems">
<!--             <div class="profile_gem_circle">
              <img class="profile_gem" src="/img/gem_1_blue.svg"></img>
            </div>
            <div class="profile_gem_circle cream">
              <img class="profile_gem" src="/img/gem_1_cream.svg"></img>
            </div>
            <div class="profile_gem_circle">
              <img class="profile_gem" src="/img/gem_1_red.svg"></img>
            </div> -->
        </div>
      </div>
      <div class="profile_map_canvas">
      </div>
      <div class="buttons_wrapper">
        <button class='profile_wander' name="profile_wander" value="WANDER">GO
        </button>
      </div>
      <!-- <button class="matrix">matrix</button> -->
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>

<!-- You've Arrived Page -->

<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar_7_export.svg"></img>
        </div>
      </div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
        <h2 class="arrival_text">YOU'VE
        </h2>
        <h2 class="arrival_text">ARRIVED
        </h2>
        <h2 class="destination_text destination_name">
        </h2>
            <div class="ampersand_wrapper">
              <div class="ampersand_col">
                <i class="fa fa-star-o fa-fw star-left">
                </i>
                <i class="fa fa-star-o fa-fw star-left">
                </i>
                <i class="fa fa-star-o fa-fw star-left">
                </i>
              </div>
              <div class="ampersand_col">
                <h2 class="arrived_ampersand_top">&</h2>
                <h2 class="arrived_ampersand">&</h2>
              </div>
              <div class="ampersand_col">
                <i class="fa fa-star-o fa-fw star-right">
                </i>
                <i class="fa fa-star-o fa-fw star-right">
                </i>
                <i class="fa fa-star-o fa-fw star-right">
                </i>
              </div>
            </div>
      <div class="ribbon_wrapper">
        <h1 class="ribbon">
          <strong class="ribbon-content">you've earned a gem!
          </strong>
        </h1>
      </div>
      <div class="arrival_gem_wrapper_outer">
        <div class="arrival_gem_wrapper">
          <div class="arrival_gem_wrapper_inner">
            <div id="diamond">
              <div id="top">
                <div class="faceup left"></div>
              <div class="face"></div>
                <div class="faceup"></div>
              <div class="face"></div>
                <div class="faceup right"></div>
              </div>
              <div id="bottom">
                <div class="facedown left2"></div>
                <div class="facedown"></div>
                <div class="facedown right2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>

<!-- Landing Page -->

<div class="welcome-block">
  <h3 class="welcome_text">welcome to</h3>
  <h2 class="intro_title">SIGHTSEER</h2>
  <img class="sightseer_logo" src="/img/sightseer_logo_3.svg"></img>
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form class="login_form">
        <input class="username" name="username" type="text" placeholder='USERNAME'>
        <input class="password" name="password" type="text" placeholder='PASSWORD'>
        <input class='sign_in_button' name="sign_in" type="submit" value="SIGN IN">
      </form>
      <a href="#/sign_up" class='signup_link'><h6 class="signup_text">SIGN UP!</h6></a>
    </div>

    <div class='col span_3_of_12'>
    </div>
  </div>

</div>

<!-- SignUp Page -->
<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <h2 class="sign_up_title">SIGN UP</h2>
      <div class="sign_up_profile_picture_wrapper">
        <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar_7_export.svg"></img>
        </div>
      </div>
      </div>
      <button class='profile_upload_button' name="profile_upload_button" type="submit" value="UPLOAD PICTURE">UPLOAD PICTURE</button>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form class="login_form">
        <input class="email" name="sign_up_email" type="text" placeholder='EMAIL'>
        <input class="username" name="sign_up_username" type="text" placeholder='USERNAME'>
        <input class="password" name="sign_up_password" type="text" placeholder='PASSWORD'>
        <input class="password" name="sign_up_password_confirmation" type="text" placeholder='CONFIRM PASSWORD'>
        <div class="interests_buttons_wrapper">
          <button class="interests" name="sports" type="text" placeholder='FOOD'>SPORTS</button>
          <button class="interests" name="music" type="text" placeholder='DRINK'>MUSIC</button>
          <button class="interests" name="art" type="text" placeholder='ACTIVITY'>ART</button>
          <button class="interests" name="parks" type="text" placeholder='FOOD'>PARKS</button>
          <button class="interests" name="bars" type="text" placeholder='DRINK'>BARS</button>
          <button class="interests" name="food" type="text" placeholder='ACTIVITY'>FOOD</button>
          <button class="interests" name="dance" type="text" placeholder='FOOD'>DANCE</button>
          <button class="interests" name="meditation" type="text" placeholder='DRINK'>MEDITATION</button>
          <button class="interests" name="tours" type="text" placeholder='ACTIVITY'>TOURS</button>
        </div>
        <input class='sign_up_button' name="sign_up" type="submit" value="SIGN UP">
      </form>



    <div class='col span_3_of_12'>
    </div>
  </div>

</div>
