<div class="welcome-block">
  <h3 class="welcome_text">welcome to</h3>
  <h2 class="intro_title">SIGHTSEER</h2>
  <img class="sightseer_logo" src="/img/sightseer_logo_3.svg"></img>
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form class="login_form" name="userSignInForm">
        <input ng-model="user.username" class="username" name="username" type="text" placeholder='USERNAME' required>
        <input ng-model="user.password" class="password" name="password" type="text" placeholder='PASSWORD' required>
        <input ng-click="signIn(user)"class='sign_in_button' name="sign_in" type="submit" value="SIGN IN">
      </form>
      <a href="/signup" class='signup_link'><h6 class="signup_text">SIGN UP!</h6></a>
    </div>

    <div class='col span_3_of_12'>
    </div>
  </div>

</div>
