<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture">
        <i class="fa fa-user fa-4x">
        </i>
      <div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>
<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form class="location_form simple-form" novalidate  name="adventureForm">
        <h3 class="location_text where"><i class="fa fa-map-marker"></i>where are you?</h3>
        <input type="checkbox" value="current_location" name="current_location" id="current_location"/><label for="current_location" <span class="current_location"><i class="fa fa-crosshairs"></i>CURRENT</span></label>
        <h3 class="location_text">or</h3>
        <!-- <h3 class="location_text adventure_type"><i class="fa fa-star-o"></i>adventure type?</h3> -->
<!--           <input type="radio" class ="adventure" name="adventure" value="food"">
          <label for="adventure">
          <span class="adventure">FOOD</span>
          </label>​​​ -->
          <!-- <input type="radio" id="adventure_food" value="food" name="adventure"/> <label for="adventure_food" <span class="adventure"><i class="fa fa-spoon"></i>FOOD</span></label>
          <input type="radio" id="adventure_drink" value="drink" name="adventure"/> <label for="adventure_drink" <span class="adventure"><i class="fa fa-glass"></i>DRINK</span></label>
          <input type="radio" id="adventure_event" value="event" name="adventure"/> <label for="adventure_event" <span class="adventure"><i class="fa fa-rocket"></i>EVENT</span></label> -->
          <input class="location" type="text" name="location" ng-model="adventure.start_location"  placeholder='ENTER LOCATION'><br>

        <h3 class="location_text time_text"><i class="fa fa-clock-o"></i>length of time?</h3>

        <input ng-model="adventure.time_limit" /class="location" name="time" type="text" placeholder='00:00'/>
        <br>
        <input type="submit" class='location_button' ng-click="submitAdventure(adventure)" value="WANDER"/>
      </form>
    </div>

    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

adventure {{ adventure | json}}
