<!-- Profile Page -->


{{user}}

<!-- to get the users destinations you can just do

{{user.destinations}}

if you want to loop through the users visited destinations and do something specific it can be -->

<div ng-init="getUser()" ng-model="user" ng-repeat="dest in user.visited_destinations">
  BAM: {{dest}}
</div>
<div class="welcome-block">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture">
<!--         <i class="fa fa-sun-o fa-5x fa-spin">
        </i> -->
        <i class="fa fa-user fa-4x">
        </i>
      <div>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <div class="profile_gems_wrapper">
        <div class="profile_gems">
            <div class="profile_gem_circle">
              <img class="profile_gem" src="/img/gem_1_blue.svg"></img>
            </div>
            <div class="profile_gem_circle cream">
              <img class="profile_gem" src="/img/gem_1_cream.svg"></img>
            </div>
            <div class="profile_gem_circle">
              <img class="profile_gem" src="/img/gem_1_red.svg"></img>
            </div>
        </div>
      </div>
      <div class="profile_map_canvas">
      </div>
      <div class="buttons_wrapper">
        <button class='profile_wander' name="profile_wander" value="WANDER">GO
        </button>
      </div>
      <!-- <button class="matrix">matrix</button> -->
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>
