<div class="welcome-block" ng-init="getUser()">
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <a href="/home">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_picture_wrapper">
        <div class="profile_picture">
          <img class="sightseer_avatar" src="/img/avatar.svg"></img>
        </div>
      </div>
      <div class="name">
      </div>
    </div>
    <div class='col span_3_of_12'>
      <div class="logout_button">
        <a href="/logout">
          <div class="logout_container">
            <h6 class="logout">LOGOUT</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">
    {{user}}
    <div class='col span_3_of_12'>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="profile_gems_wrapper">
        <div class="profile_gems">
        </div>
      </div>
      <div class="profile_map_canvas">
      </div>
      <div class="buttons_wrapper">
        <a href="/submit_destination">
          <button class='profile_wander' name="profile_wander">SUBMIT A DESTINATION
          </button>
        </a>
        <a href="/new_adventure">
          <button class='profile_wander' name="profile_wander">GO ON AN ADVENTURE
          </button>
        </a>
      </div>
      <!-- <button class="matrix">matrix</button> -->
    </div>

    <div class='col span_3_of_12'>
    </div>

  </div>
</div>
