<!-- SignUp Page -->
<div class="welcome-block">
  <h2 class="sign_up_title">SIGN UP</h2>
  <div class="section group">
    <div class='col span_3_of_12'>
      <div class="back_button">
        <i class="fa fa-chevron-left">
        </i>
      </div>
    </div>
    <div class="col span_6_of_12 feature">
      <div class="sign_up_profile_picture_wrapper">
        <div class="profile_picture_wrapper">
          <div class="profile_picture">
            <img class="sightseer_avatar" src="/img/avatar.svg"></img>
          </div>
        </div>
      </div>
      <button class='profile_upload_button' name="profile_upload_button" type="submit" value="UPLOAD PICTURE">UPLOAD PICTURE</button>
    </div>
    <div class='col span_3_of_12'>
    </div>
  </div>
</div>

<div class="welcome-block">
  <div class="section group">

    <div class='col span_3_of_12'>
    </div>

    <div class="col span_6_of_12 feature">
      <form novalidate class="signup_form" name="signUpForm">
        <input ng-model="user.email" class="email" name="email" type="email" placeholder='EMAIL' ng-class="{ 'has-error' : signUpForm.email.$invalid && !signUpForm.email.$pristine }" required unique-sign-up/>
        <p ng-show="signUpForm.email.$error.required && !signUpForm.email.$pristine" class="help-block">Valid email required.</p>
        <p ng-show="signUpForm.email.$error.unique && !signUpForm.email.$pristine" class="help-block">We're sorry, that email is already taken, try another!</p>

        <input ng-model="user.username" class="username" name="username" type="text" placeholder='USERNAME' ng-class="{ 'has-error' : signUpForm.username.$invalid && !signUpForm.username.$pristine }" required unique-sign-up/>
        <p ng-show="signUpForm.username.$error.required && !signUpForm.username.$pristine" class="help-block">Username required.</p>
        <p ng-show="signUpForm.username.$error.unique && !signUpForm.username.$pristine" class="help-block">We're sorry, that username is already taken, try another!</p>

        <input ng-model="user.password" class="password" name="password" type="password" placeholder='PASSWORD' ng-class="{ 'has-error' : signUpForm.password.$invalid && !signUpForm.password.$pristine }" required/>
        <p ng-show="signUpForm.password.$error.required && !signUpForm.password.$pristine" class="help-block">Password required.</p>
      <!--   <div class="interests_buttons_wrapper">
          <button class="interests" name="sports" type="text" placeholder='FOOD'>SPORTS</button>
          <button class="interests" name="music" type="text" placeholder='DRINK'>MUSIC</button>
          <button class="interests" name="art" type="text" placeholder='ACTIVITY'>ART</button>
          <button class="interests" name="parks" type="text" placeholder='FOOD'>PARKS</button>
          <button class="interests" name="bars" type="text" placeholder='DRINK'>BARS</button>
          <button class="interests" name="food" type="text" placeholder='ACTIVITY'>FOOD</button>
          <button class="interests" name="dance" type="text" placeholder='FOOD'>DANCE</button>
          <button class="interests" name="meditation" type="text" placeholder='DRINK'>MEDITATION</button>
          <button class="interests" name="tours" type="text" placeholder='ACTIVITY'>TOURS</button>
        </div> -->
        <input ng-click="submitForm(signUpForm)" class='sign_up_button' name="sign_up" type="submit" value="SIGN UP" ng-disabled="signUpForm.$invalid"/>
      </form>



    <div class='col span_3_of_12'>
    </div>
  </div>
